---
---

@import "{{ site.theme }}";

body {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
  background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
}
